@font-face {
    font-family: 'dusha';
    src: url('./font/dusha.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
